# Ignorera den virtuella miljön
aktie_env/
aktiemiljo/

# Ignorera eventuella pycache-filer
__pycache__/
*.pyc

# Ignorera ev. tillfälliga Jupyter/VSCode/OS-filer
.ipynb_checkpoints/
.vscode/
*.DS_Store